<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
rel="stylesheet"
/>
<i class="fas fa-folder" style="font-size: 24px"></i>
<span style="font-size: 24px"> Orders</span>
<hr>
<div class="col" *ngFor="let customer of customers;" >
<div class="card" style="width: 28rem; margin-top: 20px;">
    
    <div class="card-body">
        <h5 class="card-title">  {{ customer.firstName }} {{ customer.lastName }}</h5>
        <div *ngFor="let order of customer.orders">
            <p class="card-text">{{ order.orderName }} - {{ order.price }}</p>
        </div>
        <hr>
        <p class="card-text"> Total: {{ total(customer.orders) }}</p>
    </div></div>
</div>